<h1 class="text-center mt-4">Home</h1>
<p class="text-center">Welcome to the homepage!</p>

<section class="articles mt-4">
  <ul class="articles-ul list-unstyled">
    <% if (data && data.length > 0) { %> <% data.forEach(post => { %>
    <li class="d-flex justify-content-between align-items-center py-2">
      <a href="/post/<%= post._id%>" class="text-decoration-none text-black">
        <%= post.title %>
      </a>
      <span><%= post.createAt.toDateString() %></span>
    </li>
    <hr />
    <% }) %> <% } else { %>
    <p class="text-center text-muted">No posts found.</p>
    <% } %>
  </ul>
</section>
