<div class="container mt-4">
  <h1>Result : <%= searchTerm%></h1>

  <% if (results.length>0) { %>
  <div class="list-group">
    <% results.forEach(post => { %>
    <div class="list-group-item">
      <h5 class="mb-1"><%= post.title %></h5>
      <p class="mb-1"><%= post.body %></p>
      <small class="text-muted"><%= post.createAt.toDateString() %></small>
    </div>
    <% }) %>
  </div>

  <% } else { %>
  <div class="alert alert-warning">
    <h1>No Posts</h1>
  </div>
  <% } %>
</div>
